/* For mobile phones: */

img {
    width: 100%;
    object-fit: cover;
    height: 100%
}

.populars-wrap, .lodgings-wrap, .activities-wrap {
    display: flex;
    flex-wrap: wrap;
}

.section-title {
    flex: 100%;
}

figure {
    width: 100%;
}

figcaption {
    display: flex;
    align-items: initial;
    flex-direction:column;
}

.sections-wrap figcaption > p:nth-child(1), .sections-wrap figcaption > p:nth-child(2) {
    flex: 1;
}

figcaption > p:last-of-type {
    flex: none;
}

.popular-card {
    display: flex;
    align-items: initial;
    height: 140px;
}

.popular-img {
    flex: 0 0 40%;
}

.lodging-card, .activity-card {
    display: flex;
    align-items: initial;
    flex-direction: column;
}

.lodging-img {
    height: 115px;
}

.activity-img {
    height: 135px;
}