/* For mobile phones: */

a {
    text-decoration: none;
    color: inherit;
}

footer, .populars-wrap, .fa-map-marker-alt {
    background-color: #F2F2F2;
}

.nav-register, .filter-item > .fas, .fa-info, .fa-star {
    color: #0065FC;
}

button {
    background-color: #0065FC;
}

.unchecked {
    color: #F2F2F2;
}

.fa-map-marker-alt, .fa-chart-line, [placeholder] {
    color: inherit;
}

::placeholder {
    color: black;
    opacity: 1; /* firefox */
}

.fa-search {
    color: #FFFF;
}

[class$="-card"] {
    background-color: #FFFF;
}