/* For all screens*/
.filters-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter-title {
    flex: 1 1 100%;
    margin-bottom: 15px;
}

.filter-item {
    border: 2px solid #F2F2F2;
    border-radius: 60px;
    cursor: pointer;
}

.filter-item:hover {
    border: 2px solid #E5E5E5;
}

.filter-item:hover span:first-of-type {
    background-color: #D1DEF2;
}

.filter-item > span:first-of-type {
    background-color: #DEEBFF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    padding: 16px 14px 16px 14px;
    margin: -2px;
}

.filter-item > span:nth-child(2) {
    padding: 0 20px 0 8px;
}

.filter-item {
    margin-bottom: 13px;
}

/* For mobile phones: */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    


}

/* For tablets: */
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {


    
}

/* For desktops: */
@media only screen and (min-device-width: 769px) {

}