/* For all screens*/
footer h3 {
    padding: 33px 0 20px 0;
}

footer > ul > li:not(:first-of-type) {
    line-height: 200%;
}

/* For mobile phones: */
@media only screen and (max-width: 480px) {

    footer > ul:last-of-type > li:last-of-type {
        padding-bottom: 20px;
    }

}

/* For tablets: */
@media only screen and (min-width: 481px) and (max-width: 768px) {



}

/* For desktops: */
@media only screen and (min-width: 769px) {

    footer h3 {
        padding: 33px 0 13px 0;
    }

    footer {
        display: flex;
        align-items: baseline;
    }

    footer ul {
        flex: 30%;
        padding-bottom: 40px;
    }

}