/* For all screens: */
footer {
    display: flex;
    flex-flow: column;
    align-items: baseline;
    padding-top: 33px;
    padding-bottom: 30px;
}

footer h3 {
    padding-bottom: 20px;
}

footer > ul {
    line-height: 200%;
}

/*footer ul:not(:last-of-type) {
    padding-bottom: 40px;
}*/

/* For desktops: */
@media only screen and (max-width: 768px) {
    footer ul:not(:last-of-type) {
        padding-bottom: 40px;
    }
}
/* For desktops: */
@media only screen and (min-width: 769px) {

    footer {
        height: 130px;
        display: flex;
        flex-flow: column wrap;
        align-items: baseline;
    }

    footer ul {
        flex: 70%;
    }

}