/* For all screens*/
.info-wrap {
    display: inline-flex;
    align-items: initial;
    margin-top: 16px;
    margin-bottom: 30px;
}

.fa-info {
    align-self: baseline;
    border: 1px solid #F2F2F2;
    padding: 3px 7px 3px 7px;
    border-radius: 60px;
}

.info-wrap > span:nth-child(2) {
    align-self: baseline;
    padding-left: 10px;
}

/* For mobile phones: */
@media only screen and (max-width: 480px) {
    


}

/* For tablets: */
@media only screen and (min-width: 481px) and (max-width: 1223px) {

}

/* For desktops: */
@media only screen and (min-width: 1224px) {

}