*, *::before, *::after {
    align-items: center;
    margin: 0;
    padding: 0;  
    list-style: none;
}

h1 {
    margin-top: 35px;
    margin-bottom: 15px;
}

/* For mobile phones: */
@media only screen and (max-width: 480px) {
    
    body > :not(header):not(.sections-wrap) {
        padding: 0 20px 0 20px;
    }

}

/* For tablets: */
@media only screen and (min-width: 481px) and (max-width: 1223px) {

    body > :not(header):not(.sections-wrap) {
        padding: 0 20px 0 20px;
    }

}

/* For desktops: */
@media only screen and (min-width: 1224px) {

    body > :not(.sections-wrap) {
        padding: 0 47px 0 47px;
    }

}