/* For mobile phones: */

.navs-wrap {
    display: flex;
    flex-wrap: wrap;    
}

.nav-item, .filter-item {
    flex: 1 1 50%;
}

.navs-wrap > li:not(.nav-register) > a {
    display: inline-flex;
    justify-content: center;
}

.navs-wrap > li:not(:first-of-type):not(.nav-register):not(.nav-active) {
    border-style: none none solid none;
    border-width: 3px;
    border-color: #F2F2F2;
}

.nav-active {
    border-style: none none solid none;
    border-width: 3px;
    border-color: #0065FC;
    color: #0065FC;
}

.nav-register {
    display: inline-flex;
    justify-content: flex-end;
}

.nav-item:first-of-type > img {
    height: 100%;
    width: 100px;
}