/* For all screens*/
.navs-wrap {
    display: flex;
    flex-wrap: wrap;    
}

.navs-wrap li > a {
    width: 100%;
}

.nav-logo > img {
    height: 100%;
    width: 100px;
}

/* For mobile phones: */
@media only screen and (max-width: 480px) {

    .nav-logo {
        padding-left: 20px;
    }

    .nav-register {
        padding-right: 20px;
    }
    
    .nav-lodgings, .nav-activities {
        flex: 50%;
        padding-bottom: 13px;
    }
    
    .nav-logo {
        flex: 30%;
    }
    
    .nav-register {
        flex: 1;
    }
    
    .nav-logo, .nav-register {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .navs-wrap > li:not(.nav-register) > a {
        display: inline-flex;
        justify-content: center;
    }
    
    .nav-lodgings, .nav-activities {
        border-style: none none solid none;
        border-width: 3px;
        border-color: #F2F2F2;
    }
    
    .nav-lodgings:hover, .nav-activities:hover {
        border-style: none none solid none;
        border-width: 3px;
        border-color: #0065FC;
        color: #0065FC;
    }

    .nav-register > a {
        display: inline-flex;
        justify-content: flex-end;
    }

}

/* For tablets: */
@media only screen and (min-width: 481px) and (max-width: 768px) {

    .nav-logo, .nav-register {
        padding: 0 20px 0 20px;
    }
    
    .nav-lodgings, .nav-activities {
        flex: 50%;
        padding-bottom: 13px;
    }
    
    .nav-logo {
        flex: 1;
        padding-top: 20px;
    }
    
    .nav-register {
        flex: 1 0 50%;
    }
    
    .nav-logo, .nav-register {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .navs-wrap > li:not(.nav-register) > a {
        display: inline-flex;
        justify-content: center;
    }
    
    .nav-lodgings, .nav-activities {
        border-style: none none solid none;
        border-width: 3px;
        border-color: #F2F2F2;
    }

    .nav-lodgings:hover, .nav-activities:hover {
        border-style: none none solid none;
        border-width: 3px;
        border-color: #0065FC;
        color: #0065FC;
    }

    .nav-register > a {
        display: inline-flex;
        justify-content: flex-end;
    }

}

/* For desktops: */
@media only screen and (min-width: 769px) {

    header {
        padding-right: 45px;
        padding-left: 45px;
    }

    .navs-wrap {
        align-items: flex-start;
    }

    .nav-logo {
        flex: 1;
        padding-top: 20px;
    }

    .nav-register {
        order: 3;
        border-style: solid none none none;
        border-width: 2px;
        border-color: white;
    }

    .nav-lodgings {
        order: 1;
    }

    .nav-activities {
        order: 2;
    }

    .nav-lodgings, .nav-activities {
        flex: 0 0 12%;
        padding-top: 35px;
        border-style: solid none none none;
        border-width: 2px;
        border-color: white;
    }

    .nav-lodgings:hover, .nav-activities:hover {
        border-style: solid none none none;
        border-width: 2px;
        border-color: #0065FC;
        color: #0065FC;
    }

    .nav-register {
        flex: 0 0 8%;
        padding-top: 35px;
    }

    .navs-wrap a {
        display: inline-flex;
        justify-content: center;
    }

}