/* For mobile phones: */

form {
    display: inline-flex;
    width: 100%;
    align-items: initial;
}

.border-plus > button > span {
    display: none;
}

input[type=search] {
    flex: 1;
    border: solid #F2F2F2;
    border-width: 1px 0 1px 0;
}



button {
    border-style: none;
    border-radius: 15px;
    padding: 15px 17px 15px 17px;
    margin: -1px -1px -1px -1px;
}

.border-plus {
    border: solid#F2F2F2;
    border-width: 1px 0 1px 0;
    border-radius: 0 15px 15px 0;
}

form > .fa-map-marker-alt {
    display: inline-flex;
    align-items: center;
    border-style: none;
    border-radius: 15px 0 0 15px;
    padding: 15px 18px 15px 18px;
}