/* For all screens*/
form {
    display: inline-flex;
    width: 100%;
    align-items: initial;
}

.border-plus > button > span {
    display: none;
}

input[type=search] {
    outline: none;
    flex: 1;
    border: solid #F2F2F2;
    border-width: 1px 0 1px 0;
    
}

input[type=search]:focus {
    font-weight: 400;
}

[placeholder] {
    padding-left: 15px;
}



button {
    border-style: none;
    border-radius: 15px;
    padding: 15px 17px 15px 17px;
    margin: -1px;
    cursor: pointer;
}

.border-plus {
    border: solid#F2F2F2;
    border-width: 1px 0 1px 0;
    border-radius: 0 15px 15px 0;
}

form > .fa-map-marker-alt {
    display: inline-flex;
    align-items: center;
    border-style: none;
    border-radius: 15px 0 0 15px;
    padding: 15px 18px 15px 18px;
}

.search-wrap {
    margin-top: 35px;
    margin-bottom: 30px;
}

/* For mobile phones: */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {



}

/* For tablets: */
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {

}

/* For desktops: */
@media only screen and (min-device-width: 769px) {

}