/* For all screens*/

h2 {
    padding-bottom: 20px;
}

.sections-wrap {
    display: flex;
    flex-wrap: wrap;
}

.section-title, .add-card {
    display: flex;
    justify-content: space-between;
    width: 100%;  
}

.populars-wrap, .activities-wrap, .lodgings-wrap {
    padding-top: 35px;
}

.populars-wrap, .activities-wrap {
    padding-bottom: 45px;
}

/* For tablets: */
@media only screen and (max-width: 768px) {

    .populars-wrap, .lodgings-wrap, .activities-wrap {
        padding-right: 20px;
        padding-left: 20px;
    }

}

/* For tablets and small laptops: */
@media only screen and (min-width: 769px) and (max-width: 1223px) {

    .populars-wrap, .lodgings-wrap, .activities-wrap {
        padding-right: 37px;
        padding-left: 37px;
    }

}

/* For desktops: */
@media only screen and (min-width: 1224px) {

    .populars-wrap, .lodgings-wrap {
        padding-right: 37px;
        padding-left: 37px;
        border-radius: 25px;
    }

    .sections-wrap {
        align-items: initial;
        justify-content: space-between;
    }

    .populars-wrap {
        flex: 0 0 24%;
        order: 2;
    }
    
    .lodgings-wrap {
        flex: 0 0 62%;
        order: 1;
    }

    .activities-wrap {
        flex: 100%;
        order: 3;
    }
    
}