@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

h2, /*Section title*/
footer > ul > li:first-of-type, 
.nav-register, 
.filters-wrap, 
figcaption > p:nth-child(1), /*Card title*/
figcaption > p:nth-child(2) span, /*Euro sign*/
.add-card, /*Afficher plus*/
.activities-wrap figcaption, 
[placeholder] {
    font-weight: 700;
}

h2 + p, /*First <p> after h2*/
.nav-item > :not(.nav-register), /*Nav item except "S'inscrire"*/
figcaption > p:nth-child(2), /*Card details*/
.info-wrap > span {
    font-weight: 400;
}

h2 {
    font-size: 22px;
}

figcaption > p:nth-child(1), 
.activities-wrap figcaption, 
footer > ul > li:first-of-type, 
.add-card, 
[placeholder] {
    font-size: 16px;
}

header, 
h2 + p, 
footer > ul > li:not(:first-of-type), 
.filters-wrap, 
.info-wrap > span, 
figcaption > p:nth-child(2), 
figcaption > p:nth-child(2) span {
    font-size: 15px;
}