@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

h1, h2, /*Main title, Section title*/
h3, /*Card title, Footer titles*/
.nav-register, 
.filters-wrap, 
figcaption > p:nth-child(2) span, /*Euro sign*/
.add-card, /*Afficher plus*/
[placeholder] {
    font-weight: 700;
}

h1 + p, /*First <p> after h1*/
.footer-url,
.navs-wrap > li:not(.nav-register), /*Nav item except "S'inscrire"*/
figcaption > p:nth-child(2), /*Card details*/
.info-wrap > span:nth-child(2) {
    font-weight: 400;
}

h1, h2 {
    font-size: 22px;
}

header, 
h3, 
.filters-wrap, 
[placeholder] {
    font-size: 16px;
}

.add-card {
    font-size: 18px;
}

h1 + p, 
.footer-url, 
.info-wrap > span:nth-child(2), /* Info text */ 
figcaption > p:nth-child(2), 
figcaption > p:nth-child(2) span {
    font-size: 15px;
}